* {
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

html {
    overflow-x: hidden;
}

@media only screen and (min-width: 280px) and (min-height: 653px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 30vh;
        width: 100%;
    }

    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 15vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
    }

    main {
        text-align: center;
    }

    .panther-list {
        text-align: center;
        display: flex;
    }

    .panther-list li {
        padding: 2px;
    }
    
    .no-panther-list {
        text-align: center;
        display: flex;
    }

    section {
        text-align: center;
    }
} 
@media only screen and (min-width: 360px) and (min-height: 740px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 30vh;
        width: 100%;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 20vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
    }

    main {
        text-align: center;
    }

    .panther-list {
        text-align: center;
        display: flex;
    }
    
    .no-panther-list {
        text-align: center;
        display: flex;
    }

    section {
        text-align: center;
    }
}
@media only screen and (min-width: 375px) and (min-height: 667px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 30vh;
        width: 100%;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 20vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
    }

    main {
        text-align: center;
    }

    .panther-list {
        text-align: center;
        display: flex;
    }
    
    .no-panther-list {
        text-align: center;
        display: flex;
    }

    section {
        text-align: center;
    }
}
@media only screen and (min-width: 412px) and (min-height: 914px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 30vh;
        width: 100%;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 15vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
}

main {
    text-align: center;
}

.panther-list {
    text-align: center;
    display: flex;
}

.no-panther-list {
    text-align: center;
    display: flex;
}

section {
    text-align: center;
}
}
@media only screen and (min-width: 470px) and (min-height: 800px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 30vh;
        width: 100%;
    }
    .main-div {
        height: 40vh;
    }
    .duration {
        text-align: right;
        padding-right: 200px;
        position: relative;
        bottom: 50px;
        }

        main {
            text-align: center;
        }

        .panther-list {
            text-align: center;
            display: flex;
        }
        
        .no-panther-list {
            text-align: center;
            display: flex;
        }

        section {
            text-align: center;
        }
}
@media only screen and (min-width: 540px) and (min-height: 720px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 60vh;
        width: 100%;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 20vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }

    main {
        text-align: center;
    }

    .panther-list {
        text-align: center;
        display: flex;
    }
    
    .no-panther-list {
        text-align: center;
        display: flex;
    }

    section {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) and (min-height: 1024px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 30vh;
        width: 100%;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 20vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }

    main {
        text-align: center;
    }

    .panther-list {
        text-align: center;
        display: flex;
    }
    
    .no-panther-list {
        text-align: center;
        display: flex;
    }

    section {
        text-align: center;
    }
}
@media only screen and (min-width: 820px) and (min-height: 1180px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 30vh;
        width: 100%;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 20vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }

    main {
        text-align: center;
    }

    .panther-list {
        text-align: center;
        display: flex;
    }
    
    .no-panther-list {
        text-align: center;
        display: flex;
    }

    section {
        text-align: center;
    }
}
@media only screen and (min-width: 900px) and (min-height: 1500px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 80vh;
        width: 100%;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 30vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }

    main {
        text-align: center;
    }

    .panther-list {
        text-align: center;
        display: flex;
    }
    
    .no-panther-list {
        text-align: center;
        display: flex;
    }

    section {
        text-align: center;
    }
}
@media only screen and (min-width: 1024px) and (min-height: 600px) {
    body {
        margin-left: auto;
        margin-right: auto;
        padding-left: 100px;
        padding-right: 100px;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
        .social-section {
            background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
            border: none;
            height: 30vh;
            width: 100%;
            text-align: center;
            justify-content: center;
            padding-top: 100px;
            display: flex;
            
        }

        main {
            text-align: center;
        }

        .panther-list {
            text-align: center;
            display: flex;
        }
        
        .no-panther-list {
            text-align: center;
            display: flex;
        }

        section {
            text-align: center;
        }
}
@media only screen and (min-width: 1280px) and (min-height: 800px) {
    body {
        margin-left: auto;
        margin-right: auto;
        padding-left: 200px;
        padding-right: 200px;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
        .social-section {
            background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
            border: none;
            height: 30vh;
            width: 100%;
            text-align: center;
            justify-content: center;
            padding-top: 100px;
            display: flex;
            
        }

        main {
            text-align: center;
        }

        .panther-list {
            text-align: center;
            display: flex;
        }
        
        .no-panther-list {
            text-align: center;
            display: flex;
        }

        section {
            text-align: center;
        }
}
@media only screen and (min-width: 1350px) and (min-height: 900px) {
    body {
        margin-left: auto;
        margin-right: auto;
        padding-left: 300px;
        padding-right: 300px;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 40vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
        .social-section {
            background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
            border: none;
            height: 30vh;
            width: 100%;
            text-align: center;
            justify-content: center;
            padding-top: 100px;
            display: flex;
            
        }

        main {
            text-align: center;
        }

        .panther-list {
            text-align: center;
            display: flex;
        }
        
        .no-panther-list {
            text-align: center;
            display: flex;
        }

        section {
            text-align: center;
        }
}
@media only screen and (min-width: 1450px) and (min-height: 1000px) {
    body {
        margin-left: auto;
        margin-right: auto;
        padding-left: 400px;
        padding-right: 400px;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
        .social-section {
            background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
            border: none;
            height: 30vh;
            width: 100%;
            text-align: center;
            justify-content: center;
            padding-top: 100px;
            display: flex;
            
        }

        main {
            text-align: center;
        }

        .panther-list {
            text-align: center;
            display: flex;
        }
        
        .no-panther-list {
            text-align: center;
            display: flex;
        }

        section {
            text-align: center;
        }
}
@media only screen and (min-width: 1750px) and (min-height: 1200px) {
    body {
        margin-left: auto;
        margin-right: auto;
        padding-left: 200px;
        padding-right: 200px;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
        .social-section {
            background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
            border: none;
            height: 30vh;
            width: 100%;
            text-align: center;
            justify-content: center;
            padding-top: 100px;
            display: flex;
            
        }

        main {
            text-align: center;
        }

        .panther-list {
            text-align: center;
            display: flex;
        }
        
        .no-panther-list {
            text-align: center;
            display: flex;
        }

        section {
            text-align: center;
        }
}

nav {
    width: 100%;
}
ul {
    display: flex;
    list-style: none;
    line-height: 50px;
    text-align: right;
    justify-content: right;
    justify-items: right;
}

ul a {
    padding: 10px;
    text-decoration: none;
    color: black;
}


ul {
    list-style: none;
    line-height: 50px;
}

ul a {
    text-decoration: none;
    color: black;
}

.landing-btn-div {
    width: 100;
    text-align: center;
    padding-bottom: 15px;
}

button {
    text-transform: uppercase;
    height: 35px;
    width: 150px;
}

/*.social-section {
    background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
    border: none;
    height: 25vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    display: flex;
    
}*/

#socialBtn {
    background: none;
    border: none;
    border-radius: 100px;
    width: 70px;
    height: 70px;
}

.i-frame {
    display: none;
}

main p {
    padding-left: 7px;
    padding-right: 7px;
    line-height: 25px;
}

h1 {
    padding-left: 5px;
}

.shop-main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section {
    text-align: center;
}

.panther-list {
    text-align: center;
    display: flex;
}

.no-panther-list {
    text-align: center;
    display: flex;
}
article {
    display: flex;
}

.article-img-div {
    width: 50%;
}

.article-img-div figure img {
    width: 100%;
    height: 300px;
}

.article-p-div {
    float: right;
    width: 70%;
}

.with-panther {
    display: flex;
    padding-bottom: 40px;
}

.without-panther {
    display: flex;
    padding-bottom: 30px;
}

figure img {
    height: 200px;
    width: 200px;
}

.landing-body {
    background-size: cover;
    text-align: center;
}

.pray-for-peace {
    padding-top: 10px;
    height: 300px;
    width: 400px;
}

/*footer {
    height: 1vh;
}*/

.credits-div {
    text-align: center;
}

iframe {
    width: 300px;
}

main {
    margin-left: auto;
    margin-right: auto;
}

.video-div {
    text-align: center;
}

.social-img-one {
    position: relative;
    right: 14px;
    bottom: 2px;
    height: 78px;
}

.social-img-two {
    position: relative;
    right: 13px;
    bottom: 6px;
    height: 80px;
}

.social-img-three {
    position: relative;
    right: 8px;
    bottom: 4px;
    height: 76px;
}