* {
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

html {
    overflow-x: hidden;
}
@media only screen and (min-width: 280px) and (min-height: 653px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 60vh;
        width: 100%;
    }
    #contactForm {
        height: 26.3vh;
    }

    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 30vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
} 
@media only screen and (min-width: 360px) and (min-height: 667px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 70vh;
        width: 100%;
    }
    #contactForm {
        height: 23vh;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 28vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        }
        footer {
            height: 20vh;
        }
}
@media only screen and (min-width: 414px) and (min-height: 896px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 60vh;
        width: 100%;
    }

    #contactForm {
        height: 26.3vh;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 30vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
    footer {
        height: 18vh;
    }
}

@media only screen and (min-width: 470px) and (min-height: 800px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 30vh;
        width: 100%;
    }
    .main-div {
        height: 40vh;
    }
}
@media only screen and (min-width: 540px) and (min-height: 720px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 60vh;
        width: 100%;
    }
    #contactForm {
        height: 26.3vh;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 28vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
}
@media only screen and (min-width: 768px) and (min-height: 1024px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    footer {
        height: 12vh;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 20vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
    .pray-for-peace {
        height: 200px;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen and (min-width: 820px) and (min-height: 1180px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 80vh;
        width: 100%;
    }
    .main-div {
        height: 40vh;
    }
    #contactForm {
        height: 15vh;
    }
    .pray-for-peace {
        height: 200px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen and (min-width: 900px) and (min-height: 1500px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 80vh;
        width: 100%;
    }
    .main-div {
        height: 30vh;
    }
}
@media only screen and (min-width: 1024px) and (min-height: 600px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 200vh;
        width: 100%;
    }
    #contactForm {
        height: 26.3vh;
    }
        .social-section {
            background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
            border: none;
            height: 40vh;
            width: 100%;
            text-align: center;
            justify-content: center;
            padding-top: 100px;
            display: flex;
            
        }
        .pray-for-peace {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 10px;
        }
}

@media only screen and (min-width: 1280px) and (min-height: 800px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .main-div {
        height: 70vh;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 40vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
}
@media only screen and (min-width: 1350px) and (min-height: 900px) {
    body {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .main-div {
        height: 70vh;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 40vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
    footer {
        height: 20vh;
    }
}
@media only screen and (min-width: 1450px) and (min-height: 1000px) {
    body {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .main-div {
        height: 70vh;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 40vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
    footer {
        height: 30vh;
    }
}
@media only screen and (min-width: 1750px) and (min-height: 1200px) {
    body {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .main-div {
        height: 70vh;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 40vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
    footer {
        height: 30vh;
    }
}

/*header {
    background: url("the-divine-beings.png");
    height: 50vh;
    width: 100%;
    background-size: cover;
}*/

ul {
    list-style: none;
    line-height: 50px;
}

ul a {
    text-decoration: none;
    color: black;
}

/*body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}*/

/*main {
    width: 100%;
    display: flex;
    flex-direction: column;
}*/

.p-div {
    width: 100%;
}

main p {
    width: 100%;
}

button {
    border: none;
    color: white;
    background: #190C4B;
    text-transform: uppercase;
    height: 35px;
    width: 150px;
}

.form-div {
    height: 26.3vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#contactForm {
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.596);
}

.form-cta-div {
    width: 100%;
    text-align: center;
}

.contact-form-span {
    padding-left: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

input {
    width: 100%;
    color: white;
    border: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
}

.social-section {
    background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
    border: none;
    height: 20vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    display: flex;
    
}

#socialBtn {
    background: none;
    border: none;
    border-radius: 100px;
    width: 70px;
    height: 70px; 
}

.i-frame {
    display: none;
}

main p {
    padding-left: 7px;
    padding-right: 7px;
    line-height: 25px;
}

h1 {
    padding-left: 5px;
    width: 100%;
}

figure img {
    height: 200px;
    width: 200px;
}

.landing-body {
    text-align: center;
}

.pray-for-peace {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 300px;
    width: 80%;
}

/*footer {
    height: 14vh;
}*/

.credits-div {
    text-align: center;
}

iframe {
    width: 300px;
}

main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    column-width: 50%;
}

.video-div {
    text-align: center;
}

.social-img-one {
    position: relative;
    right: 8px;
    bottom: 2px;
    height: 68px;
}

.social-img-two {
    position: relative;
    right: 12px;
    bottom: 7px;
    height: 82px;
}

.social-img-three {
    position: relative;
    right: 10px;
    bottom: 5px;
    height: 78px;
}