* {
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

ul {
    list-style: none;
    line-height: 50px;
}

ul a {
    text-decoration: none;
    color: black;
}

.social-section {
    height: 15vh;
}

.i-frame {
    display: none;
}

.shop-main {
    display: grid;
}

img {
    height: 200px;
    width: 200px;
}

footer {
    height: 30vh;
}