* {
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

ul {
    list-style: none;
    line-height: 50px;
}

ul a {
    text-decoration: none;
    color: black;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

#contactForm {
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
   line-height: 40px;
   background: black;
}

input {
    width: 100%;
    color: white;
    border: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
}

.social-section {
    height: 15vh;
}

.i-frame {
    display: none;
}

.shop-main {
    display: grid;
}

img {
    height: 200px;
    width: 200px;
}

footer {
    height: 40vh;
}

iframe {
    width: 300px;
}

main {
    margin-left: auto;
    margin-right: auto;
}

.video-div {
    text-align: center;
}