* {
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

html {
    overflow-x: hidden;
}

/*@media only screen and (min-width: 280px) and (min-height: 653px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 20vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
    .main-div {
        background: rgba(0, 0, 0, 0.596);
        height: 25vh;
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 40%;
        padding-left: 20px;
    }
    
    .right {
        position: relative;
        bottom: 115px;
        width: 100%;
        text-align: right;
    }
    #title {
        font-size: 40px;
        padding: 10px;
        bottom: 10px;
        position: relative;
    
    }
    #artist {
        font-size: 40px;
        padding: 10px;
        position: relative;
        bottom: 10px;
    }
    .show-song-number {
        color: white;
        position: relative;
        bottom: 170px;
        display: flex;
        width: 100%;
        height: 30px;
        padding-left: 300px;
        text-align: center;
        justify-content: center;
    }
    
    .audio-controls {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-left: 300px;
        position: relative;
        bottom: 350px;
    }
    #pre,
    #play,
    #next,
    #auto {
        background: #190C4B; 
        color: white;
        border: none;
        border-radius: 50%;
        height: 5vh;
        width: 80px;
    }
    .show-song-number h2 {
        position: relative;
        bottom: 12px;
        letter-spacing: 3px;
    }
    .duration {
    text-align: right;
    position: relative;
    right: 270px;
    bottom: 180px;
    }
    #track-img {
        padding-top: 20px;
        height: 400px;
        width: 100%;
    }
    .donation-div {
        color: white;
        position: relative;
        bottom: 120px;
        height: 3vh;
        text-align: center;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 10vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex; 
    }
    #socialBtn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 70px;
        height: 70px;
    }
    .social-img-one {
        background: none;
        position: relative;
        right: 8px;
        bottom: 2px;
        height: 68px;
        width: 75px;
    }
    .social-img-two {
        background: none;
        position: relative;
        bottom: 6px;
        right: 11px;
        height: 80px;
        width: 80px;
    }
    
    .social-img-three {
        background: none;
        position: relative;
        right: 9.2px;
        bottom: 4px;
        height: 76px;
        width: 80px;
    }
}
@media only screen and (min-width: 360px) and (min-height: 740px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 20vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
    .main-div {
        background: rgba(0, 0, 0, 0.596);
        height: 25vh;
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 40%;
        padding-left: 20px;
    }
    
    .right {
        position: relative;
        bottom: 115px;
        width: 100%;
        text-align: right;
    }
    #title {
        font-size: 40px;
        padding: 10px;
        bottom: 10px;
        position: relative;
    
    }
    #artist {
        font-size: 40px;
        padding: 10px;
        position: relative;
        bottom: 10px;
    }
    .show-song-number {
        color: white;
        position: relative;
        bottom: 170px;
        display: flex;
        width: 100%;
        height: 30px;
        padding-left: 300px;
        text-align: center;
        justify-content: center;
    }
    
    .audio-controls {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-left: 300px;
        position: relative;
        bottom: 350px;
    }
    #pre,
    #play,
    #next,
    #auto {
        background: #190C4B; 
        color: white;
        border: none;
        border-radius: 50%;
        height: 5vh;
        width: 80px;
    }
    .show-song-number h2 {
        position: relative;
        bottom: 12px;
        letter-spacing: 3px;
    }
    .duration {
    text-align: right;
    position: relative;
    right: 270px;
    bottom: 180px;
    }
    #track-img {
        padding-top: 20px;
        height: 400px;
        width: 100%;
    }
    .donation-div {
        color: white;
        position: relative;
        bottom: 110px;
        height: 3vh;
        text-align: center;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 10vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex; 
    }
    #socialBtn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 70px;
        height: 70px;
    }
    .social-img-one {
        background: none;
        position: relative;
        right: 8px;
        bottom: 2px;
        height: 68px;
        width: 75px;
    }
    .social-img-two {
        background: none;
        position: relative;
        bottom: 6px;
        right: 11px;
        height: 80px;
        width: 80px;
    }
    
    .social-img-three {
        background: none;
        position: relative;
        right: 9.2px;
        bottom: 4px;
        height: 76px;
        width: 80px;
    }
}

@media only screen and (min-width: 412px) and (min-height: 914px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 20vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
    .main-div {
        background: rgba(0, 0, 0, 0.596);
        height: 25vh;
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 40%;
        padding-left: 20px;
    }
    .right {
        position: relative;
        bottom: 115px;
        width: 100%;
        text-align: right;
    }
    #title {
        font-size: 40px;
        padding: 10px;
        bottom: 10px;
        position: relative;
    
    }
    #artist {
        font-size: 40px;
        padding: 10px;
        position: relative;
        bottom: 10px;
    }
    .show-song-number {
        color: white;
        position: relative;
        bottom: 170px;
        display: flex;
        width: 100%;
        height: 30px;
        padding-left: 300px;
        text-align: center;
        justify-content: center;
    }
    
    .audio-controls {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-left: 300px;
        position: relative;
        bottom: 350px;
    }
    #pre,
    #play,
    #next,
    #auto {
        background: #190C4B; 
        color: white;
        border: none;
        border-radius: 50%;
        height: 5vh;
        width: 80px;
    }
    .show-song-number h2 {
        position: relative;
        bottom: 12px;
        letter-spacing: 3px;
    }
    .duration {
    text-align: right;
    position: relative;
    right: 270px;
    bottom: 180px;
    }
    #track-img {
        padding-top: 20px;
        height: 400px;
        width: 100%;
    }
    .donation-div {
        color: white;
        position: relative;
        bottom: 105px;
        height: 3vh;
        text-align: center;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 10vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex; 
    }
    #socialBtn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 70px;
        height: 70px;
    }
    .social-img-one {
        background: none;
        position: relative;
        right: 8px;
        bottom: 2px;
        height: 68px;
        width: 75px;
    }
    .social-img-two {
        background: none;
        position: relative;
        bottom: 6px;
        right: 11px;
        height: 80px;
        width: 80px;
    }
    
    .social-img-three {
        background: none;
        position: relative;
        right: 9.2px;
        bottom: 4px;
        height: 76px;
        width: 80px;
    }
}

@media only screen and (min-width: 470px) and (min-height: 800px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 20vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
    .main-div {
        background: rgba(0, 0, 0, 0.596);
        height: 25vh;
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 40%;
        padding-left: 20px;
    }
    
    .right {
        position: relative;
        bottom: 115px;
        width: 100%;
        text-align: right;
    }
    #title {
        font-size: 40px;
        padding: 10px;
        bottom: 10px;
        position: relative;
    
    }
    #artist {
        font-size: 40px;
        padding: 10px;
        position: relative;
        bottom: 10px;
    }
    .show-song-number {
        color: white;
        position: relative;
        bottom: 170px;
        display: flex;
        width: 100%;
        height: 30px;
        padding-left: 300px;
        text-align: center;
        justify-content: center;
    }
    
    .audio-controls {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-left: 300px;
        position: relative;
        bottom: 350px;
    }
    #pre,
    #play,
    #next,
    #auto {
        background: #190C4B; 
        color: white;
        border: none;
        border-radius: 50%;
        height: 5vh;
        width: 80px;
    }
    .show-song-number h2 {
        position: relative;
        bottom: 12px;
        letter-spacing: 3px;
    }
    .duration {
    text-align: right;
    position: relative;
    right: 270px;
    bottom: 180px;
    }
    #track-img {
        padding-top: 20px;
        height: 400px;
        width: 100%;
    }
    .donation-div {
        color: white;
        position: relative;
        bottom: 120px;
        height: 3vh;
        text-align: center;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 10vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex; 
    }
    #socialBtn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 70px;
        height: 70px;
    }
    .social-img-one {
        background: none;
        position: relative;
        right: 8px;
        bottom: 2px;
        height: 68px;
        width: 75px;
    }
    .social-img-two {
        background: none;
        position: relative;
        bottom: 6px;
        right: 11px;
        height: 80px;
        width: 80px;
    }
    
    .social-img-three {
        background: none;
        position: relative;
        right: 9.2px;
        bottom: 4px;
        height: 76px;
        width: 80px;
    }
}
@media only screen and (min-width: 540px) and (min-height: 720px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 30vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
    .main-div {
        background: rgba(0, 0, 0, 0.596);
        height: 40vh;
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 40%;
        padding-left: 20px;
    }
    
    .right {
        position: relative;
        bottom: 115px;
        width: 100%;
        text-align: right;
    }
    #title {
        font-size: 40px;
        padding: 10px;
        bottom: 10px;
        position: relative;
    
    }
    #artist {
        font-size: 40px;
        padding: 10px;
        position: relative;
        bottom: 10px;
    }
    .show-song-number {
        color: white;
        position: relative;
        bottom: 170px;
        display: flex;
        width: 100%;
        height: 30px;
        padding-left: 300px;
        text-align: center;
        justify-content: center;
    }
    
    .audio-controls {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-left: 300px;
        position: relative;
        bottom: 350px;
    }
    #pre,
    #play,
    #next,
    #auto {
        background: #190C4B; 
        color: white;
        border: none;
        border-radius: 50%;
        height: 5vh;
        width: 80px;
    }
    .show-song-number h2 {
        position: relative;
        bottom: 12px;
        letter-spacing: 3px;
    }
    .duration {
    text-align: right;
    position: relative;
    right: 270px;
    bottom: 220px;
    }
    #track-img {
        padding-top: 20px;
        height: 400px;
        width: 100%;
    }
    .donation-div {
        color: white;
        position: relative;
        bottom: 120px;
        height: 3vh;
        text-align: center;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 20vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex; 
    }
    #socialBtn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 70px;
        height: 70px;
    }
    .social-img-one {
        background: none;
        position: relative;
        right: 8px;
        bottom: 2px;
        height: 68px;
        width: 75px;
    }
    .social-img-two {
        background: none;
        position: relative;
        bottom: 6px;
        right: 11px;
        height: 80px;
        width: 80px;
    }
    
    .social-img-three {
        background: none;
        position: relative;
        right: 9.2px;
        bottom: 4px;
        height: 76px;
        width: 80px;
    }
}
@media only screen and (min-width: 768px) and (min-height: 1024px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 30vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
    .main-div {
        background: rgba(0, 0, 0, 0.596);
        height: 40vh;
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 40%;
        padding-left: 20px;
    }
    
    .right {
        position: relative;
        bottom: 115px;
        width: 100%;
        text-align: right;
    }
    #title {
        font-size: 40px;
        padding: 10px;
        bottom: 10px;
        position: relative;
    
    }
    #artist {
        font-size: 40px;
        padding: 10px;
        position: relative;
        bottom: 10px;
    }
    .show-song-number {
        color: white;
        position: relative;
        bottom: 170px;
        display: flex;
        width: 100%;
        height: 30px;
        padding-left: 300px;
        text-align: center;
        justify-content: center;
    }
    
    .audio-controls {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-left: 300px;
        position: relative;
        bottom: 350px;
    }
    #pre,
    #play,
    #next,
    #auto {
        background: #190C4B; 
        color: white;
        border: none;
        border-radius: 50%;
        height: 5vh;
        width: 80px;
    }
    .show-song-number h2 {
        position: relative;
        bottom: 12px;
        letter-spacing: 3px;
    }
    .duration {
    text-align: right;
    position: relative;
    right: 270px;
    bottom: 230px;
    }
    #track-img {
        padding-top: 20px;
        height: 400px;
        width: 100%;
    }
    .donation-div {
        color: white;
        position: relative;
        bottom: 120px;
        height: 3vh;
        text-align: center;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 20vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex; 
    }
    #socialBtn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 70px;
        height: 70px;
    }
    .social-img-one {
        background: none;
        position: relative;
        right: 8px;
        bottom: 2px;
        height: 68px;
        width: 75px;
    }
    .social-img-two {
        background: none;
        position: relative;
        bottom: 6px;
        right: 11px;
        height: 80px;
        width: 80px;
    }
    
    .social-img-three {
        background: none;
        position: relative;
        right: 9.2px;
        bottom: 4px;
        height: 76px;
        width: 80px;
    }
}

@media only screen and (min-width: 820px) and (min-height: 1180px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 20vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
    .main-div {
        background: rgba(0, 0, 0, 0.596);
        height: 40vh;
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 40%;
        padding-left: 20px;
    }
    
    .right {
        position: relative;
        bottom: 115px;
        width: 100%;
        text-align: right;
    }
    #title {
        font-size: 40px;
        padding: 10px;
        bottom: 10px;
        position: relative;
    
    }
    #artist {
        font-size: 40px;
        padding: 10px;
        position: relative;
        bottom: 10px;
    }
    .show-song-number {
        color: white;
        position: relative;
        bottom: 170px;
        display: flex;
        width: 100%;
        height: 30px;
        padding-left: 300px;
        text-align: center;
        justify-content: center;
    }
    
    .audio-controls {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-left: 300px;
        position: relative;
        bottom: 350px;
    }
    #pre,
    #play,
    #next,
    #auto {
        background: #190C4B; 
        color: white;
        border: none;
        border-radius: 50%;
        height: 5vh;
        width: 80px;
    }
    .show-song-number h2 {
        position: relative;
        bottom: 12px;
        letter-spacing: 3px;
    }
    .duration {
    text-align: right;
    position: relative;
    right: 270px;
    bottom: 230px;
    }
    #track-img {
        padding-top: 20px;
        height: 400px;
        width: 100%;
    }
    .donation-div {
        color: white;
        position: relative;
        bottom: 120px;
        height: 3vh;
        text-align: center;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 20vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex; 
    }
    #socialBtn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 70px;
        height: 70px;
    }
    .social-img-one {
        background: none;
        position: relative;
        right: 8px;
        bottom: 2px;
        height: 68px;
        width: 75px;
    }
    .social-img-two {
        background: none;
        position: relative;
        bottom: 6px;
        right: 11px;
        height: 80px;
        width: 80px;
    }
    
    .social-img-three {
        background: none;
        position: relative;
        right: 9.2px;
        bottom: 4px;
        height: 76px;
        width: 80px;
    }
}
@media only screen and (min-width: 912px) and (min-height: 1368px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 20vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
    .main-div {
        background: rgba(0, 0, 0, 0.596);
        height: 35vh;
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 40%;
        padding-left: 20px;
    }
    
    .right {
        position: relative;
        bottom: 115px;
        width: 100%;
        text-align: right;
    }
    #title {
        font-size: 40px;
        padding: 10px;
        bottom: 10px;
        position: relative;
    
    }
    #artist {
        font-size: 40px;
        padding: 10px;
        position: relative;
        bottom: 10px;
    }
    .show-song-number {
        color: white;
        position: relative;
        bottom: 170px;
        display: flex;
        width: 100%;
        height: 30px;
        padding-left: 300px;
        text-align: center;
        justify-content: center;
    }
    
    .audio-controls {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-left: 300px;
        position: relative;
        bottom: 350px;
    }
    #pre,
    #play,
    #next,
    #auto {
        background: #190C4B; 
        color: white;
        border: none;
        border-radius: 50%;
        height: 5vh;
        width: 80px;
    }
    .show-song-number h2 {
        position: relative;
        bottom: 12px;
        letter-spacing: 3px;
    }
    .duration {
    text-align: right;
    position: relative;
    right: 270px;
    bottom: 220px;
    }
    #track-img {
        padding-top: 20px;
        height: 400px;
        width: 100%;
    }
    .donation-div {
        color: white;
        position: relative;
        bottom: 120px;
        height: 3vh;
        text-align: center;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 20vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex; 
    }
    #socialBtn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 70px;
        height: 70px;
    }
    .social-img-one {
        background: none;
        position: relative;
        right: 8px;
        bottom: 2px;
        height: 68px;
        width: 75px;
    }
    .social-img-two {
        background: none;
        position: relative;
        bottom: 6px;
        right: 11px;
        height: 80px;
        width: 80px;
    }
    
    .social-img-three {
        background: none;
        position: relative;
        right: 9.2px;
        bottom: 4px;
        height: 76px;
        width: 80px;
    }
} 
@media only screen and (min-width: 1024px) and (min-height: 600px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 70vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
    .main-div {
        background: rgba(0, 0, 0, 0.596);
        height: 90vh;
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 40%;
        padding-left: 20px;
    }
    
    .right {
        position: relative;
        bottom: 115px;
        width: 100%;
        text-align: right;
    }
    #title {
        font-size: 40px;
        padding: 10px;
        bottom: 10px;
        position: relative;
    
    }
    #artist {
        font-size: 40px;
        padding: 10px;
        position: relative;
        bottom: 10px;
    }
    .show-song-number {
        color: white;
        position: relative;
        bottom: 170px;
        display: flex;
        width: 100%;
        height: 30px;
        padding-left: 300px;
        text-align: center;
        justify-content: center;
    }
    
    .audio-controls {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-left: 300px;
        position: relative;
        bottom: 350px;
    }
    #pre,
    #play,
    #next,
    #auto {
        background: #190C4B; 
        color: white;
        border: none;
        border-radius: 50%;
        height: 5vh;
        width: 80px;
    }
    .show-song-number h2 {
        position: relative;
        bottom: 12px;
        letter-spacing: 3px;
    }
    .duration {
    text-align: right;
    position: relative;
    right: 290px;
    bottom: 260px;
    }
    #track-img {
        padding-top: 20px;
        height: 400px;
        width: 100%;
    }
    .donation-div {
        color: white;
        position: relative;
        bottom: 120px;
        height: 3vh;
        text-align: center;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 30vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex; 
    }
    #socialBtn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 70px;
        height: 70px;
    }
    .social-img-one {
        background: none;
        position: relative;
        right: 8px;
        bottom: 2px;
        height: 68px;
        width: 75px;
    }
    .social-img-two {
        background: none;
        position: relative;
        bottom: 6px;
        right: 11px;
        height: 80px;
        width: 80px;
    }
    
    .social-img-three {
        background: none;
        position: relative;
        right: 9.2px;
        bottom: 4px;
        height: 76px;
        width: 80px;
    }
}*/

@media only screen and (min-width: 1280px) and (min-height: 800px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 60vh;
        width: 100%;
    }
    .pray-for-peace {
        display: none;
    }
    .main-div {
        background: rgba(0, 0, 0, 0.596);
        height: 70vh;
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 40%;
        padding-left: 20px;
    }
    
    .right {
        position: relative;
        bottom: 115px;
        width: 100%;
        text-align: right;
    }
    #title {
        font-size: 40px;
        padding: 10px;
        bottom: 10px;
        position: relative;
    
    }
    #artist {
        font-size: 40px;
        padding: 10px;
        position: relative;
        bottom: 10px;
    }
    .show-song-number {
        color: white;
        position: relative;
        bottom: 170px;
        display: flex;
        width: 100%;
        height: 60px;
        padding-left: 300px;
        text-align: center;
        justify-content: center;
    }
    
    .audio-controls {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-left: 300px;
        position: relative;
        bottom: 350px;
    }
    #pre,
    #play,
    #next,
    #auto {
        background: #190C4B; 
        color: white;
        border: none;
        border-radius: 50%;
        height: 5vh;
        width: 80px;
    }
    .show-song-number h2 {
        position: relative;
        bottom: 12px;
        letter-spacing: 3px;
    }
    .duration {
    text-align: right;
    position: relative;
    right: 420px;
    bottom: 230px;
    }
    #track-img {
        padding-top: 20px;
        height: 400px;
        width: 100%;
    }
    .donation-div {
        color: white;
        position: relative;
        bottom: 120px;
        height: 3vh;
        text-align: center;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 30vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex; 
    }
    #socialBtn {
        background: none;
        border: none;
        border-radius: 100px;
        width: 70px;
        height: 70px;
    }
    .social-img-one {
        background: none;
        position: relative;
        right: 8px;
        bottom: 2px;
        height: 68px;
        width: 75px;
    }
    .social-img-two {
        background: none;
        position: relative;
        bottom: 6px;
        right: 11px;
        height: 80px;
        width: 80px;
    }
    
    .social-img-three {
        background: none;
        position: relative;
        right: 9.2px;
        bottom: 4px;
        height: 76px;
        width: 80px;
    }
} 
/*@media only screen and (min-width: 1350px) and (min-height: 900px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .main-div {
        height: 70vh;
    }
    .duration {
        margin-left: auto;
        margin-right: auto;
        padding-left: 750px;
        width: 100%;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 40vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
    footer {
        height: 20vh;
    }
}
@media only screen and (min-width: 1450px) and (min-height: 1000px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .main-div {
        height: 70vh;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 40vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
    footer {
        height: 30vh;
    }
}
@media only screen and (min-width: 1750px) and (min-height: 1200px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        background: url("the-divine-beings.png");
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .main-div {
        height: 70vh;
    }
    .social-section {
        background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
        border: none;
        height: 40vh;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        display: flex;
        
    }
    footer {
        height: 30vh;
    }
}*/

/*header {
    background: url("the-divine-beings.png");
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.landing-body {
    background-size: cover;
    text-align: center;
}

.donation-div {
    color: white;
    position: relative;
    bottom: 120px;
    height: 3vh;
    text-align: center;
}*/
nav {
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    line-height: 50px;
    text-align: right;
    justify-content: right;
    justify-items: right;
}

ul a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    line-height: 50px;
}

ul a {
    text-decoration: none;
    color: black;
}

/*body {
    padding-left: 350px;
    padding-right: 350px;
    margin-left: auto;
    margin-right: auto;
}

.main-div {
    background: rgba(0, 0, 0, 0.596);
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.left {
    width: 40%;
    padding-left: 20px;
}

.right {
    position: relative;
    bottom: 115px;
    width: 100%;
    text-align: right;
}

/*#volume {
    /*position: relative;
    bottom: 150px;
    right: 255px; 
}*/

/*#volume-icon {
    color: white;
    position: relative;
    bottom: 97px;
    padding-right: 220px;
}

img {
    height: 200px;
    width: 60%;
}

.social-section {
    background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
    border: none;
    height: 30vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    display: flex;
}

#socialBtn {
    background: none;
    border: none;
    border-radius: 100px;
    width: 70px;
    height: 70px;
}

h1 {
    padding-left: 5px;
}

.landing-div {
    text-align: center;
}

.pray-for-peace {
    height: 200px;
    width: 200px;
}

footer {
    height: 1vh;
}*/

.credits-div {
    text-align: center;
}

/*iframe {
    width: 300px;
}

main {
    margin-left: auto;
    margin-right: auto;
}

.main-div {
    display: flex;
}*/

.song-info-div {
    position: relative;
    bottom: 300px;
    padding-left: 300px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
}

/*#title {
    font-size: 40px;
    padding: 10px;
    bottom: 10px;
    position: relative;

}

#artist {
    font-size: 40px;
    padding: 10px;
    position: relative;
    bottom: 10px;
}

.middle {
    text-align: center;
}

.show-song-number {
    color: white;
    position: relative;
    bottom: 170px;
    display: flex;
    width: 100%;
    height: 30px;
    padding-left: 300px;
    text-align: center;
    justify-content: center;
}

.audio-controls {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 300px;
    position: relative;
    bottom: 350px;
}

#pre,
#play,
#next,
#auto {
    background: #190C4B; 
    color: white;
    border: none;
    border-radius: 50%;
    height: 5vh;
    width: 80px;
}

.duration {
   position: relative;
   bottom: 250px;
   right: 370px;
}

.show-song-number h2 {
    position: relative;
    bottom: 12px;
    letter-spacing: 3px;
}

.video-div {
    text-align: center;
}

#track-img {
    padding-top: 20px;
    height: 400px;
    width: 100%;
}

.social-img-one {
    background: none;
    position: relative;
    right: 8px;
    bottom: 2px;
    height: 68px;
    width: 75px;
}

.social-img-two {
    background: none;
    position: relative;
    bottom: 6px;
    right: 11px;
    height: 80px;
    width: 80px;
}

.social-img-three {
    background: none;
    position: relative;
    right: 9.2px;
    bottom: 4px;
    height: 76px;
    width: 80px;
}