* {
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

html {
    overflow-x: hidden;
}

header {
    background: url("the-divine-beings.png");
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.extra-div {
    background: url("AKH (2).png");
    background-size: cover;
    height: 50vh;
}

.donation-div {
    height: 10vh;
    text-align: center;
}

ul {
    list-style: none;
    line-height: 50px;
}

ul a {
    text-decoration: none;
    color: black;
}

body {
    margin-left: auto;
    margin-right: auto;
}

.main-div {
    background: rgba(0, 0, 0, 0.596);
    display: flex;
    flex-direction: column;
}

.left {
    width: 40%;
    padding-left: 20px;
}

img {
    height: 200px;
    width: 60%;
}

#contactForm {
    color: white;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 35px;
    line-height: 40px;
    background: linear-gradient(black, rgba(0, 0, 0, 0.596));
}

.form-cta-div {
    width: 100%;
    text-align: center;
}

.contact-form-span {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.social-section {
    background: linear-gradient(rgba(0, 0, 0, 0.596), #190C4B);
    border: none;
    height: 25vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    display: flex;
    
}

#socialBtn {
    border: none;
    border-radius: 100px;
    width: 70px;
    height: 70px;
}

h1 {
    padding-left: 5px;
}

.pray-for-peace {
    height: 300px;
    width: 400px;
}

footer {
    height: 20vh;
}

.credits-div {
    text-align: center;
}

iframe {
    width: 300px;
}

main {
    margin-left: auto;
    margin-right: auto;
}

.main-div {
    display: flex;
}

.right {
    width: 100%;
    text-align: right;
}

.song-info-div {
    position: relative;
    bottom: 300px;
    padding-left: 300px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
}

#title {
    font-size: 40px;
    padding: 10px;
    bottom: 10px;
    position: relative;

}

#artist {
    font-size: 40px;
    padding: 10px;
    position: relative;
    bottom: 10px;
}

.middle {
    text-align: center;
}

.show-song-number {
    color: white;
    position: relative;
    bottom: 170px;
    display: flex;
    width: 100%;
    height: 30px;
    padding-left: 300px;
    text-align: center;
    justify-content: center;
}

.audio-controls {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 300px;
    position: relative;
    bottom: 300px;
}

#pre,
#play,
#next,
#auto {
    background: #190C4B; 
    color: white;
    border: none;
    border-radius: 50%;
    height: 10vh;
    width: 80px;
}

.volume {
    display: flex;
}

.volume i {
    position: relative;
    top: 3px;
    padding-right: 30px;
}

#volume-icon {
    color: white;
    
}

.duration {
    text-align: center;
    padding-left: 300px
}

.show-song-number h2 {
    position: relative;
    bottom: 12px;
    letter-spacing: 3px;
}

.video-div {
    text-align: center;
}

#track-img {
    height: 400px;
    width: 100%;
}

.social-img-one {
    position: relative;
    right: 8px;
    bottom: 2px;
    height: 68px;
    width: 75px;
}

.social-img-two {
    position: relative;
    bottom: 6px;
    right: 11px;
    height: 80px;
    width: 80px;
}

.social-img-three {
    position: relative;
    right: 9.2px;
    bottom: 4px;
    height: 76px;
    width: 80px;
}